:root {
  font-size: 62.5%;
}

html {
  scroll-padding-top: 100px;
}

html,
body,
main {
  overflow-x: hidden;
}

body {
  position: relative;
  font-size: 16px;
  color: $text-color;
}

main {
  position: relative;
  z-index: 1;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.uppercase {
  text-transform: uppercase;
}

.container {
  width: 100%;
  max-width: 1216px;
  margin: 0 auto;

  @include d(wt) {
    max-width: 1100px;
  }

  @include d(t) {
    max-width: 880px;
    padding: 0 16px;
  }

  @include d(m) {
    max-width: 366px;
    padding: 0 24px;
  }
}
