$colors-p-color: #183A67;
$colors-destaque: #51AC32;
$colors-destaque-light: #EDF3EF;
$colors-text-color: #5A7393;
$colors-text-light: #BAC4D1;
$colors-gray: #E8EEF6;
$colors-border: #E3E7ED;
$colors-border-dark: #2F4E76;
$colors-placeholder: #5A7096;
$colors-wpp: #2cac71;
$colors-error: #ff5a5a;
$colors-error-bg: #fbcbcb;
$colors-success: #71c971;
$colors-success-bg: #d7ffda;
$colors-attention: #e9af39;
$fonts-title: "Montserrat", sans-serif;
$fonts-body: "Montserrat", sans-serif;
$social_networks-instagram-icon: fa-brands fa-instagram;
$social_networks-instagram-mod: ventocom_instagram;
$social_networks-facebook-icon: fa-brands fa-facebook-f;
$social_networks-facebook-mod: ventocom_facebook;
$social_networks-linkedin-icon: fa-brands fa-linkedin-in;
$social_networks-linkedin-mod: ventocom_linkedin;
$social_networks-x-icon: fa-brands fa-x-twitter;
$social_networks-x-mod: ventocom_x;
$social_networks-youtube-icon: fa-brands fa-youtube;
$social_networks-youtube-mod: ventocom_youtube;